.createUpdate{
    display: inline-block;
    border: 2px solid #69c0ff;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    color: #1890ff;
    margin: 15px 0;
    border-radius: 10px;
}

.delete{
    display: inline-block;
    border: 2px solid #f5222d;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    color: #f5222d;
    margin: 15px 0;
    border-radius: 10px;
}